<div class="container">
<h1>New restaurant</h1>

<%= simple_form_for(@restaurant) do |f| %>
<% if @restaurant.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :name, class: "form_control" %>
    <%= f.input :address, class: "form_control" %>
    <%= f.input :phone_number, class: "form_control" %>
    <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"],
                           class: "form_control" %>
    <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', restaurants_path %>
</div>